@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Press+Start+2P&family=Roboto&display=swap');

.backgroundPrincipal {
    background-color: #111;
}

.background-pink {
    background-color: rgb(252, 244, 244);
}

.text-white {
    font-family: 'Montserrat', sans-serif;
    color: #ccc;
}

.text-neon-effect {
    font-family: 'Press Start 2P', cursive;
    animation: neonEffect 5s infinite;
}

@keyframes neonEffect {

    0%, 35%, 45%, 65%, 100% {
        text-shadow: 
            white 0 0 12px,
            #fd6d6d 0 0 24px,
            #fd6d6d 0 0 36px;
    }

    40%, 60% {
        text-shadow: none;
    } 
}

.cardBorder {
    border-top: 2px solid rgba(153, 153, 153, 0.2);
}

.borderRed {
    border: 3px solid rgb(190, 20, 20);
}

.carrito {
    background-color: rgb(190, 20, 20);
    margin: 20px;
    border-radius: 10px;
}

.carrito:hover {
    background-color: rgb(255, 0, 0);
    color: rgb(212, 212, 212);
    transition: 0.4s;
}

.producto-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(153, 153, 153, 0.4);
    margin: 9px 5px;
    padding: 25px 25px 5px;
}

.btn-cantidad {
    border: none;
    background-color: #333;
    color: rgb(242, 198, 198);
    box-shadow: 1px 1px 11px 0px rgba(0,0,0,0.46);
    border-radius: 10px;
}

.btn-cantidad:active {
    transform: scale(0.88);
}

.btn-cantidad:nth-child(3) {
    margin-bottom: 10px;
}

#cantidad {
    padding: 5px 0;
}


