.backgroundPrincipal {
    background-color: #111;
}

.background-pink {
    background-color: rgb(252, 244, 244);
}

.text-white {
    color: #ccc;
}

.cardBorder {
    border-top: 2px solid rgba(153, 153, 153, 0.2);
}

.borderRed {
    border: 3px solid rgb(190, 20, 20);
}

.carrito {
    background-color: rgb(190, 20, 20);
    margin: 20px;
    border-radius: 10px;
}

.producto-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(153, 153, 153, 0.4);
    margin: 9px 5px;
    padding: 25px 25px 5px;
}


